[submodule "external/libancillary"]
	path = external/libancillary
	url = https://github.com/shadowsocks/libancillary.git
[submodule "external/pdnsd"]
	path = external/pdnsd
	url = https://github.com/shadowsocks/pdnsd.git
[submodule "external/badvpn-guardian"]
	path = external/badvpn-guardian
	url = https://github.com/guardianproject/badvpn.git
