[submodule "external/libancillary"]
	path = external/libancillary
	url = https://github.com/shadowsocks/libancillary.git
[submodule "external/pdnsd"]
	path = external/pdnsd
	url = https://github.com/shadowsocks/pdnsd.git
